body {
    font-family: 'Texturina', serif;
    margin: 20px;
}

/* Keep layout with flexbox */
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

/* Replaces .header-container */
header {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.profile-image {
    width: 200px;
    height: auto;
}

/* General text styling */
h1, h2 {
    margin: 0;
}

.projects-container {
    margin-top: 10px;
}

.projects-container p {
    margin: 0;
    margin-top: 5px;
}
